{{#if id}}
<div id="{{id}}" class="user_panel_element">
{{/if}}

{{!-- <object type="image/svg+xml" data="{{imgSource}}" class="user_panel_element_image"></object> --}}
<img class="user_panel_element_image" src="{{imgSource}}" alt="&">
<div class="user_panel_element_text">{{text}}</div>

{{#if id}}
</div>
{{/if}}