<form id="{{id}}">
    <section class="form__input-group">
        <label class="modal__text" for="cardNum">Номер карты</label>
        <input type="text" class="input" name="cardNum" required>
        <span class="form__text_error" id="cardNumMessage"></span>
    </section>
    <section class="form__input-group">
        <label class="modal__text" for="cvv">СVV</label>
        <input type="password" class="input" name="cvv" required>
        <span class="form__text_error" id="cvvMessage"></span>
    </section>
    <section class="form__input-group">
        <label class="modal__text" for="expirationDate">Срок действия</label>
        <input type="text" class="input" name="expDate" required>
        <span class="form__text_error" id="expDateMessage"></span>
    </section>
    <section class="form__input-group">
        <label class="modal__text" for="nameSurname">Имя и фамилия</label>
        <input type="text" class="input" name="nameSurname" required>
        <span class="form__text_error" id="nameSurnameMessage"></span>
    </section>
</form>