<form id="{{id}}">
    <section class="form__input-group">
        <label class="modal__text" for="email">Номер карты</label>
        <input type="text" class="input" name="email" required>
        <span class="form__text_error" id="cardNum"></span>
    </section>
    <section class="form__input-group">
        <label class="modal__text" for="password">СVV</label>
        <input type="password" class="input" name="cvv" required>
        <span class="form__text_error" id="passwordMessage"></span>
    </section>
    <section class="form__input-group">
        <label class="modal__text" for="expirationDate">Срок действия</label>
        <input type="text" class="input" name="expDate" required>
        <span class="form__text_error" id="passwordMessage"></span>
    </section>
    <section class="form__input-group">
        <label class="modal__text" for="NameSurname">Имя и фамилия</label>
        <input type="text" class="input" name="cvv" required>
        <span class="form__text_error" id="passwordMessage"></span>
    </section>
</form>