.form__text {
    font-family: 'Roboto VK';
    font-size: 14px;
    line-height: 16px;
    color: var(--secondary-color-strong);
}

.form__text_error {
    font-family: 'Roboto VK';
    font-size: 12px;
    line-height: 14px;
    color: #E64646;
    margin-top: 5px;
}

.form__input-group {
    padding: 5px 0;
}