<form id="loginFormByEmail">
    <section class="input-group">
        <label class="modal-text" for="email">Почта</label>
        <input type="text" class="input" name="email" required>
        <span class="error-text" id="emailError"></span>
    </section>
    <section class="input-group">
        <label class="modal-text" for="password">Пароль</label>
        <input type="password" class="input" name="password" required>
        <span class="error-text" id="passwordError"></span>
    </section>
</form>