<form id="{{id}}">
    <section class="form__input-group">
        <label class="form__text" for="title">Название *</label>
        <input type="text" class="input" name="title" placeholder="Картина Ван Гога" required>
        <span class="form__text_error" id="titleMessage"></span>
    </section>
    <section class="form__input-group">
        <label class="form__text" for="description">Описание *</label>
        <textarea class="input input_type_textarea" name="description" placeholder="Картина славится своей...." required></textarea>
        <span class="form__text_error" id="descriptionMessage"></span>
    </section>
    <section class="form__input-group">
        <label class="form__text" for="category">Тег</label>
        <input class="input" name="tag" required>
        <span class="form__text_error" id="tagMessage"></span>
    </section>
    <section class="form__input-group">
        <label class="form__text" for="price">Цена *</label>
            <input type="text" class="input" name="price" placeholder="1 000 000" required>
        <span class="form__text_error" id="priceMessage"></span>
    </section>
    <section class="form__input-group">
        <div class="input_type_file" onclick="{{id}}.pathImages.click();">Переместите сюда изображения</div>
        <input type="file" name="pathImages" style="display: none;" multiple>
        <span class="form__text_error" id="pathImagesMessage"></span>
    </section>
</form>