<div id="{{id}}{{name}}" class="modal">
    <div class="modal__content">
        <div class="modal__header">
            <i class="modal__btn-back"></i>
            <span class="modal__title">{{title}}</span>
            <i class="modal__btn-close"></i>
        </div>
        <div class="modal__body"></div>
        <div class="modal__footer"></div>
    </div>
</div>