{{#if id}}
<div id="{{id}}" class="user_panel_element {{#if invert}}user_panel_element_invert{{/if}}">
{{/if}}

<img class="user_panel_element_image" src="{{imgSource}}" alt="&">
<div class="user_panel_element_text">{{text}}</div>

{{#if id}}
</div>
{{/if}}