.main-page {
    display: grid;
    gap: 20px;
  }

.main-page__advertise{
    grid-row: 1;
}

.main-page__category{
    grid-row: 2;
}

.main-page__anns{
    grid-row: 3;
}   

.main-page__text {
    align-self: center;
    justify-content: center;
    font-family: 'Roboto VK';
    font-size: 26px;
    font-weight: bold;
    line-height: 18px;
    text-align: left;
    color: var(--fg-color);
  }
