.announcement-card {
    display: grid;
    background: var(--bg-color-strong);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    text-decoration: none;
}

.announcement-card__carousel {
    // height: 200px;

    & .carousel {
        border-radius: 10px;
    }
    
    & .carousel__slide  {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.announcement-card__content {
    display: grid;
    grid-template-areas: "title title" "price view-count";
    justify-content: space-between;
    padding: 8px 12px 12px 12px;
    align-items: center;
    background-color: var(--bg-color-strong);
    border-radius: 10px;
}

.announcement-card__title {
    grid-area: title;
    align-self: start;
    font-size: 16px;
    text-decoration: none;
    color: var(--fg-color);
    font-family: "Roboto VK";
}

.announcement-card__sale {
    grid-area: price;
    font-family: 'Roboto VK bold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--fg-color);
    align-self: end;
}

.announcement-card__view-count {
    grid-area: view-count;
    font-family: 'Roboto VK';
    color: var(--secondary-color);
    align-self: end;
    justify-self: end;

    &::before {
        content: "👁";
        font-size: 15px;
        margin-right: 2px;
    }
}

.announcement-group {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // justify-items: center;
    margin: 10px 0;

    @media screen and (max-width: 768px) {
        justify-items: stretch;
        justify-content: center;
    }
}