.announcement-card {
    background: var(--bg-color-strong);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    gap: 5px;
}

.announcement-card__img {
    height: 200px;
    // filter: brightness(75%);
    border-radius: inherit;

    & > img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: inherit;
    }
}

.announcement-card__content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    padding: 8px 12px 12px 12px;
    align-items: center;
    background-color: var(--bg-color-strong);
    border-radius: 10px;
}

.announcement-card__category {
    text-transform: uppercase;
    font-size: 11px;
    font-family: "Roboto VK Bold";
    color: var(--secondary-color);
}

.announcement-card__title {
    font-size: 16px;
    color: var(--fg-color);
    font-family: "Roboto VK Bold";
}

.announcement-card__sale {
    font-family: 'Roboto VK';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: var(--fg-color);
}

.announcement-card__address {
    font-family: 'Roboto VK';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--secondary-color);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.announcement-group {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    margin: 10px 0;
}