<div class="announcement-card">
    <div class="announcement-card__carousel">
    </div>
    <div class="announcement-card__content">
        <div class="announcement-card__tags">{{tags}}</div>
        <a href="{{link}}" class="announcement-card__title">{{title}}</a>
        <div class="announcement-card__sale">{{price}} ₽</div>
    </div>
</div>