.announcement-card__link {
    text-decoration: none;
}

.announcement-card {
    background: var(--bg-color-strong);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    gap: 5px;
}

.announcement-card__img {
    height: 200px;
    // filter: brightness(75%);
    border-radius: inherit;

    & > img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: inherit;
    }

    @media screen and (max-width: 768px) {
        // height: fit-content;
        width: 100%;
    }
}

.announcement-card__carousel {
    height: 200px;

    & .carousel {
        border-radius: 10px;
    }
    
    & .carousel__slide  {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.announcement-card__content {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 8px 12px 12px 12px;
    align-items: center;
    background-color: var(--bg-color-strong);
    border-radius: 10px;
}

.announcement-card__title {
    font-size: 16px;
    text-decoration: none;
    color: var(--fg-color);
    font-family: "Roboto VK";
}

.announcement-card__sale {
    font-family: 'Roboto VK bold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--fg-color);
}

// .announcement-card__view-count {

// }

.announcement-group {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // justify-items: center;
    margin: 10px 0;

    @media screen and (max-width: 768px) {
        justify-items: stretch;
        justify-content: center;
    }
}