<a class="announcement-card" href="{{link}}">
    <div class="announcement-card__carousel"></div>
    <div class="announcement-card__content">
        <div class="announcement-card__title">{{title}}</div>
        <div class="announcement-card__sale">{{price}} ₽</div>
        <div class="announcement-card__view-count">{{viewCount}}</div>
    </div>
</a>