<a class="announcement-card__link" href="{{link}}">
    <div class="announcement-card">
        <div class="announcement-card__carousel"></div>
        <div class="announcement-card__content">
            <div class="announcement-card__title">{{title}}</div>
            <div class="announcement-card__sale">{{price}} ₽</div>
        </div>
    </div>
</a>