<a class="category-card__link" href="{{link}}">
    <div class="category-card">
        <img class="category-card__image" src="{{image}}">
    </div>
    <div class="category-card__title">{{title}}</div>
</a>