@font-face {
    font-family: "Roboto VK";
    src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto VK Bold";
    src: url("fonts/Roboto-Bold.ttf");
}

body {
    margin: 10px 20px;
}

/* ТИПОГРАФИКА И РАЗМЕТКА */

h1 {
    font-family: "Roboto VK";
    font-size: 24px;
}

.error-text {
    color: #E64646;
    font-family: 'Roboto VK';
    font-size: 13px;
}

.text-center {
    text-align: center;
}

.grid-center {
    align-self: center;
}

.grid-right {
    justify-self: end;
}

.grid-left {
    justify-self: start; 
}

.pointer {
    cursor: pointer;
}

/* ГРУППЫ ВВОДА */
.input-group {
    padding: 5px 0;
}

.input {
    box-sizing: border-box;
    display: flex;
    flex: auto;
    width: 100%;
    height: 32px;
    border-radius: 8px;
    border: none;
    font-family: "Roboto VK";
    background: #EBEDF0;
    padding-left: 5px;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: #818C99;
    font-family: "Roboto VK";
}

.input-error {
    background: #FAEBEB;
    border: 0.5px solid #E64646;
}

/* КНОПКИ */
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 4px;

    height: 32px;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Roboto VK';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.btn-primary {
    background: #2688EB;
}

.btn-primary:hover {
    background: #2C7CDE;
    cursor: pointer;
}

.btn-primary-tertiary {
    color: #2688EB;
    background-color: rgba(0, 0, 0, 0);
}

.btn-primary-tertiary:hover {
    background: rgba(0, 0, 0, 0.04);
    color: #2688EB;
    cursor: pointer;
}

.btn-success {
    background: #4BB34B;
}

.btn-success:hover {
    background: #3CA03E;
    cursor: pointer;
}

.btn-success:disabled {
    background: rgba(75, 179, 75, 0.5);
}

.cell-btn-sm {
    color: #2688EB;
    font-family: 'Roboto VK';
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.btn-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* НAВИГАЦИОННАЯ ПАНЕЛЬ */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 0;
    gap: 15px;
    margin: 0 10px;
}

.nav-brand {
    font-family: 'Roboto VK';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #620760;
    text-shadow: -3px 2px 0px rgba(0, 0, 0, 0.2);
}

.search {
    background: URL("icons/search.svg") no-repeat 5px #EBEDF0;
    padding-left: 25px;
    background-size: 16px;
    background-blend-mode: multiply;
}

.profile {
    font-family: 'Roboto VK Bold';
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    color: #000;
}

img.avatar {
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    width: 32px;
    height: 32px;
}

/* ОБЪЯВЛЕНИЯ */
.ann-group {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    margin: 10px 0;
}

.ann {
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    gap: 5px;
}

.ann-img {
    height: 200px;
}

.ann-img > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.ann-body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    padding: 8px 12px 12px 12px;
    align-items: center;
}

.ann-category {
    text-transform: uppercase;
    font-size: 11px;
    font-family: "Roboto VK Bold";
    color: #818C99;
}

.ann-title {
    font-size: 16px;
    color: #000;
    font-family: "Roboto VK Bold";
}

.ann-sale {
    font-family: 'Roboto VK';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.ann-address {
    font-family: 'Roboto VK';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #818C99;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/* МОДАЛЬНЫЕ ОКНА  */
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: #FFF;
    margin: 10% auto;
    width: 420px;
    border-radius: 8px;
    animation-name: animatetop;
    animation-duration: 0.5s;
}

.modal-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    padding: 12px 12px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.modal-title {
    font-family: 'Roboto VK bold';
    font-size: 20px;
    justify-self: center;
    grid-column: span 10;
}

.modal-body {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.modal-text {
    font-family: 'Roboto VK';
    font-size: 14px;
    color: #6D7885;
}

.modal-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 12px;
    padding: 12px 12px;
    border-top: 1px solid rgba(0,0,0,0.12);
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


/* ИКОНКИ */
/* > */
.chevron-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-radius: 100px
}

.chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px
}

/* list */
.play-list {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 6px;
    border-top: 0 solid transparent;
    border-bottom: 2px solid transparent;
    box-shadow:
        inset 0 -2px 0,
        -2px 4px 0 -2px,
        0 -2px 0 0
}
.play-list::before {
    width: 6px;
    height: 6px;
    border-radius: 4px;
    border: 2px solid;
    right: -3px
}

/* close */
.close {
    color: #99A2AD;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
}
.close::after,
.close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
}
.close::after {
    transform: rotate(-45deg)
}

/* arrow left */
.arrow-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    color: #2688EB;
}
   
.arrow-left::after,
.arrow-left::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
}

.arrow-left::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 7px;
}

.arrow-left::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor;
} 

/* log out */
.log-out {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 6px;
    height: 16px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: -10px
   }
   
   .log-out::after,
   .log-out::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .log-out::after {
    border-top: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    width: 8px;
    height: 8px;
    left: 4px;
    bottom: 2px
   }
   
   .log-out::before {
    border-radius: 3px;
    width: 10px;
    height: 2px;
    background: currentColor;
    left: 5px;
    bottom: 5px
   } 

