<form id="{{id}}">
    <section class="input-group">
        <label class="modal-text" for="username">Имя пользователя</label>
        <input type="text" class="input" name="username" required>
        <span class="error-text" id="usernameMessage"></span>
    </section>
    <section class="input-group">
        <label class="modal-text" for="email">Почта</label>
        <input type="email" class="input" name="email" required>
        <span class="error-text" id="emailMessage"></span>
    </section>
    <section class="input-group">
        <label class="modal-text" for="password">Пароль</label>
        <input type="password" class="input" name="password" required>
        <span class="error-text" id="passwordMessage"></span>
    </section>
    <section class="input-group">
        <label class="modal-text" for="repeat-password">Повторите пароль</label>
        <input type="password" class="input" name="repeatPassword" required>
        <span class="error-text" id="repeatPasswordMessage"></span>
    </section>
    <section class="input-group">
        <label class="grid-left modal-text" for="accept">
            <input type="checkbox" name="accept">
            Я принимаю
        </label>
        <a href="#"><button class="cell-btn-sm">пользовательское соглашение</button></a>
    </section>
</form>