<h3 class="announcement-characteristics__title">{{title}}</h3>

<table style="border-spacing: 2vw;">
    <tr>
        <td class="announcement-characteristics__key">
            Теги
        </td>
        <td class="announcement-characteristics__value">
            {{tags}}
        </td>
    </tr>
    <tr>
        <td class="announcement-characteristics__key">
            Описание
        </td>
        <td class="announcement-characteristics__value">
            {{description}}
        </td>
    </tr>
    <tr>
        <td class="announcement-characteristics__key">
            Цена
        </td>
        <td class="announcement-characteristics__value">
            {{price}}
        </td>
    </tr>
</table>
