<h3 class="announcement-preview__title">{{title}}</h3>

<table style="border-spacing: 2vw;">
    <tr>
        <td class="announcement-preview__key">
            Тег
        </td>
        <td class="announcement-preview__tags">
            {{tags}}
        </td>
    </tr>
    <tr>
        <td class="announcement-preview__key">
            Описание
        </td>
        <td class="announcement-preview__description">
            {{description}}
        </td>
    </tr>
    <tr>
        <td class="announcement-preview__key">
            Цена
        </td>
        <td class="announcement-preview__price">
            {{price}}
        </td>
    </tr>
</table>
