.create-ann-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    padding: 1vw;
}

.announcement-carousel {
    grid-column: span 1;
    aspect-ratio: 1/1;
    // max-width: 500px;

}

.announcement-preview {
    grid-column: span 1;
    font-family: 'Roboto VK';
    display: flex;
    flex-direction: column;
    color: var(--fg-color);

    &__title {
        font-family: 'Roboto VK bold';
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: var(--fg-color);
    }

    &__* {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: var(--fg-color-strong);
        vertical-align: top;
    }

    &__key {
        color: var(--fg-color-lite);
        text-align: end;
    }
}