.create-ann-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.announcement-carousel {
    grid-column: span 1;
    aspect-ratio: 1/1;
    border-radius: 10px;
    
    & > .carousel {
        border-radius: 10px;
    }
}

.announcement-preview {
    grid-column: span 1;
    font-family: 'Roboto VK';
    display: flex;
    flex-direction: column;
    color: var(--fg-color);

    &__title {
        font-family: 'Roboto VK bold';
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: var(--fg-color);
    }

    &__description {
        font-weight: 500;
        font-family: 'Roboto VK';
        font-size: 14px;
        line-height: 18px;
        color: var(--fg-color-strong);
        vertical-align: top;
    }

    &__price {
        font-weight: 500;
        font-family: 'Roboto VK';
        font-size: 14px;
        line-height: 18px;
        color: var(--fg-color-strong);
        vertical-align: top;
    }

    &__tags {
        font-weight: 500;
        font-size: 14px;
        font-family: 'Roboto VK';
        line-height: 18px;
        color: var(--fg-color-strong);
        vertical-align: top;
    }

    &__key {
        color: var(--fg-color-lite);
        font-size: 14px;
        text-align: end;
        vertical-align: top;
        font-family: 'Roboto VK';
        font-style: italic;
    }
}