.menu-panel {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 10px 0px 10px 0px;
}
@media screen and (max-width: 900px) {
    .menu-panel {
        align-items: center;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--bg-color-strong);
    }
}
