<div class="purchase-card">
    <div class="purchase-card__content">
        <img class="purchase-card__img" src="{{src}}" alt="">
        <div class="purchase-card__tags">{{tags}}</div>
        <div class="purchase-card__title">{{title}}</div>
        <div class="purchase-card__sale">{{price}} ₽</div>
    </div>
</div>