<form id="{{id}}">
    <section class="form__input-group">
        <label class="modal__text" for="login">Логин</label>
        <input type="text" class="input" name="login" required>
        <span class="form__text_error" id="loginMessage"></span>
    </section>
    <section class="form__input-group">
        <label class="modal__text" for="password">Пароль</label>
        <input type="password" class="input" name="password" required>
        <span class="form__text_error" id="passwordMessage"></span>
    </section>
</form>