.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 4px;

    height: 32px;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Roboto VK';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.btn-primary {
    background: #2688EB;
}

.btn-primary:hover {
    background: #2C7CDE;
    cursor: pointer;
}

.btn-primary-tertiary {
    color: #2688EB;
    background-color: rgba(0, 0, 0, 0);
}

.btn-primary-tertiary:hover {
    background: rgba(0, 0, 0, 0.04);
    color: #2688EB;
    cursor: pointer;
}

.btn-success {
    background: #4BB34B;
}

.btn-success:hover {
    background: #3CA03E;
    cursor: pointer;
}

.btn-success:disabled {
    background: rgba(75, 179, 75, 0.5);
}

.cell-btn-sm {
    color: #2688EB;
    font-family: 'Roboto VK';
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.btn-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}