<div class="adverticement_panel_elements">
<div class="adverticement_panel_text"><a class="panel_link" href="#">Одежда и аксессуары</a></div>
<div class="adverticement_panel_text"><a class="panel_link" href="#">Украшения</a></div>
<div class="adverticement_panel_text"><a class="panel_link" href="#">Дом и интерьер</a></div>
<div class="adverticement_panel_text"><a class="panel_link" href="#">Подарки</a></div>
<div class="adverticement_panel_text"><a class="panel_link" href="#">Цифровые устройства</a></div>
</div>