<div class="adverticement_panel_elements">
<div class="adverticement_panel_text"><a class="panel_link" href="/search/Одежда и аксессуары">Одежда и аксессуары</a></div>
<div class="adverticement_panel_text"><a class="panel_link" href="/search/Украшения">Украшения</a></div>
<div class="adverticement_panel_text"><a class="panel_link" href="/search/Дом и интерьер">Дом и интерьер</a></div>
<div class="adverticement_panel_text"><a class="panel_link" href="/search/Подарки">Подарки</a></div>
<div class="adverticement_panel_text"><a class="panel_link" href="/search/Цифровые устройства">Цифровые устройства</a></div>
</div>