<div class="adverticement_panel_elements">
<div class="adverticement_panel_text"><a class="panel_link" href="${baseUrl}/search/3">Одежда и аксессуары</a></div>
<div class="adverticement_panel_text"><a class="panel_link" href="${baseUrl}/search/1">Украшения</a></div>
<div class="adverticement_panel_text"><a class="panel_link" href="${baseUrl}/search/2">Дом и интерьер</a></div>
<div class="adverticement_panel_text"><a class="panel_link" href="${baseUrl}/search/4">Подарки</a></div>
<div class="adverticement_panel_text"><a class="panel_link" href="${baseUrl}/search/5">Цифровые устройства</a></div>
</div>