.input__field { 
    background-color: rgba(0, 0, 0, 0); 
    border: none;
    width: 100%;
}

.input__field:focus {
    outline: none;
}

.input__icon {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    height: 24px;
    display: flex;
    align-self: center;
    justify-content: center;
}