<div class="carousel">
    <div class="carousel__slider">
        {{#each images}}
        <div class="carousel__slide" style="background-image: url('{{this}}');"></div>
        {{/each}}
    </div>
</div>